<div class="alert alert-info">
  <h5>keen-gem demo</h5>
  <p>This simple app demonstrates how to send events to Keen
  asynchronously and synchronously from a Ruby program.
  Get the source on github at <a target="_blank" href="https://github.com/keenlabs/keen-gem-example">keenlabs/keen-gem-example</a>.
  Install the gem with
  <code>gem install keen</code>.
  </p>
</div>
