<div class="alert alert-info">
  <h5>keen gem example app</h5>
  <p>This app publishes analytics events to the Keen IO API from Ruby
  using the <a target="_blank" href="https://github.com/keenlabs/keen-gem">keen gem</a>.
  Install the gem with <code>gem install keen</code>.
  </p>
  <p>
  See the source for this app at <a target="_blank" href="https://github.com/keenlabs/keen-gem-example">keenlabs/keen-gem-example</a>.
  </p>
</div>
